## Why do we split out data?

Making predictions on new examples is the core of ML
So a line graph - trend lines can make predictions, line that goes through every point is just memorising

Split data into:
1. Training data - data used to train the model and allow the algortihm to learn
2. Validation - data used to select the best model - optimal alogrithm and hyperparemeter settings
3. Test - provide an unbiased evaluation of what the model will look like in its real environment - checing perfromance doesnt deviate or is different to validation

Split is usually 60, 20, 20 for training, validation, test

So the processe is usually test, adjust variables and then validate best models. If you get good results then you move onto test set. Normally the performance of the models will decrease as you move throughso you circle back and then adjust or add vairbales

Normally model will over/ undefit the data - inaccurate represenation of how model will generalise

## Split data for train/ validation/ test set

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

titanic = pd.read_csv(r"C:\Users\mmje5\Desktop\Coding Self Taught\Applied Machine Learning - Foundations\Ex_Files_Applied_Machine_Learning\Exercise Files\titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']

x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state = 42)
#so train_test_split can't allocate three data sets, so we split it 60 40 and then willl split the remaining 40 later
#it will also make 4 varaibles both 2 train and test sets for lables and features
x_test, x_val, y_test, y_val = train_test_split(x_test, y_test, test_size=0.5, random_state = 42)
#now we split it in half for testing and validation

In [9]:
#so to double check we have 60, 20, 20 split for train, test and val
print(len(labels), len(y_train), len(y_val), len(y_test))
#if there is one more, just indicates splitting an odd number in half, can't have half a data point

891 534 179 178

## Cross validation

Holdout test set - generalisation of the test set. Any data set that was not used in generalising a model and is used to test the models performance. So the validation and test set count under this defintion

K fold Cross validation - data is divided into k subsets and the holdout method is repeated k times. Each time, one of the k subsets is used to test the model and the remaining k-1 subsets are used to train the model. So you test each set for its testing ability. You can then average the accuracy.

## Establish an evaluation framework

Two components of a framework
1. Evaluation metrics - quantative metric of perfromance
2. Process (how to split the data) - how do we leverage our full dataset to mitigate likilhood of overfitting/ under fitting

Metircs - classification problem - did something happen or not:
1. Accuracy - correct/ total no.
2. Precision - predicting survived that actually survived/ total predicted to survived
3. Recall - predicting survived that actually survived/ total no. that actually survived - numerator same as precision but denominator isnt

So for precision includes false positives whereas recall doesnt

Prediciting a continous number is a regression problem i.e. number of something sold